@keyframes anim-glow {
	0% {
		box-shadow: 0 0 rgba(#61EF61, 1);
	}
	100% {
		box-shadow: 0 0 10px 8px }
    }

body {
    margin: 0px;
    padding: 0px;
    background-color: #252525;
}
.light-toggle{
    display: grid;
    grid-template-columns:auto auto auto;
    
}
.div-button{
    width: 100%;
    height: 100vh;
}
#RED{
    background-color: red;
    
}
#YELLOW{
    background-color: yellow;
   
}
#GREEN{
    background-color: rgb(41, 201, 41);
    
}

.clicked {
    filter: saturate(40%);
}

@media screen and (max-width: 580px) {
    .light-toggle{
        display: grid;
        grid-template-columns:auto 33vh auto;
        grid-template-rows: auto auto auto;
        row-gap: .5vh;
    }

    .div-button{
        grid-column: 2;
        height: 33vh;
        width: 33vh;
        border-radius: 100%;
    }

}
